* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  font-family: "Circular Std", Arial, Helvetica, sans-serif;
}

:root {
  --blue: #0055d4;
  --green: #00c187;
  --gray: #888888;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.text-discription {
  font-size: 24px;
  font-weight: 700;
}

.text-title {
  font-size: 64px;
  font-weight: 900;
}
.header {
  background-image: url("image/MaskGroup2.png");
  height: 759px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.header .content {
  text-align: center;
  color: #fff;
}
.header .container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.header .content .title {
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
}
.header .content .discription {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 30px;
}

.menu .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
  margin-top: -50px;
}

.feature {
  background-color: #fff;
  padding: 50px 30px;
  text-align: center;
}

.feature .image {
  height: 100px;
}
.feature:not(:last-child) {
  border-right: 1px solid var(--green);
}

.menu .title {
  font-size: 22px;
  color: var(--blue);
  margin: 30px 0;
  font-weight: 700;
}

.menu .content {
  color: var(--gray);
  font-size: 16px;
}

.our-business .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
}

.our-business .content {
  max-width: 50%;
  margin-left: 10%;
}

.our-business .title {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--blue);
  margin-bottom: 20px;
}
.our-business .discription {
  font-size: 18px;
  color: var(--gray);
  margin: 15px auto 40px;
}

.our-business a {
  text-decoration: none;
  padding: 15px 50px;
  display: inline-block;
}
.our-business .button-visit {
  color: #fff;
  background-color: var(--green);
  border-radius: 35px;
  font-size: 28px;
  text-transform: uppercase;
  border: none;
  font-weight: 900;
  margin-top: 20px;
  width: 30%;
}
.our-business .button-visit:hover {
  background-color: var(--blue);
}
.list-awards {
  background-image: url("./image/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--blue);
  height: 235px;
}
.list-awards .container {
  text-transform: capitalize;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.list-awards .number {
  margin-top: 20px;
}

.our-specialists .title {
  margin-top: 100px;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--blue);
  text-align: center;
}
.list-doctor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  width: 100%;
}
.our-specialists .list {
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: space-between;
}
/* .our-specialists .doctor {
  margin-right: 10px;
} */
.icon {
  color: var(--green);
  font-size: 45px;
  cursor: pointer;
}
.icon:hover {
  color: var(--blue);
}
.our-specialists .image {
  cursor: pointer;
}
.our-specialists .add {
  background-color: var(--green);
  border-radius: 30px;
  padding: 5px;
  border: none;
  display: flex;
  font-size: 22px;
  font-weight: 900;
  color: #fff;
  align-items: center;
  text-transform: uppercase;
  margin: 100px auto;
  cursor: pointer;
}
.our-specialists .add:hover {
  background-color: var(--blue);
}

.our-specialists .add p {
  margin: auto 10px;
}
.fa-circle-plus {
  font-size: 45px;
  color: #fff;
  cursor: pointer;
}

.testimonial {
  background-image: url("./image/MaskGroup11.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
  height: 800px;
}

.testimonial .title {
  padding: 100px 0;
}

.testimonial .reviews {
  background-color: #fff;
  width: 40%;
  margin: 0 28% 50px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
}

.testimonial .reviews .icon:first-child {
  position: absolute;
  left: 24%;
}
.testimonial .reviews .icon:last-child {
  position: absolute;
  right: 28%;
}
.testimonial .avatar {
  border-radius: 50%;
  margin-top: -70px;
}
.testimonial .content {
  color: var(--gray);
  padding: 0 15%;
  margin: 50px 0;
}

.contact .container {
  display: flex;
}
.contact .image {
  margin-right: 10%;
}
.contact .title {
  font-size: 33px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--blue);
  margin-bottom: 50px;
}

.contact input,
.contact textarea {
  border-image-source: linear-gradient(to right, var(--blue), var(--green));
  border-width: 1pt;
  border-image-slice: 1;
  padding: 10px 0 10px 10px;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form button {
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: var(--green);
  font-size: 22px;
  font-weight: 900;
  margin: 30px 0;
}
.contact-form .contact-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact-form .contact-info input {
  width: 45%;
}
.contact-form button:hover {
  background-color: var(--blue);
}
ul {
  display: none;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 345px;
  }
  .dots {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  ul {
    display: block;
  }
  .dots li {
    display: inline-block;
    width: 20px;
    height: 5px;
    border-radius: 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  .header {
    height: 350px;
  }
  .header .content .title {
    font-size: 30px;
  }
  .header .content .discription {
    font-size: 14px;
    margin-top: 0;
  }
  .menu .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu .image {
    height: 60px;
    width: 60px;
  }
  .menu .title {
    font-size: 16px;
    margin: 20px 0;
  }
  .feature {
    background-color: #fff;
    padding: 20px 10px;
    text-align: center;
  }
  .feature:nth-child(odd) {
    border: none;
    border-right: 1px solid var(--green);
  }
  .feature:nth-child(even) {
    border: none;
  }
  .feature:first-child,
  .feature:nth-child(2) {
    border-bottom: 1px solid var(--green);
  }
  .our-business .container {
    flex-direction: column;
    margin: 50px 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  .our-business .content {
    max-width: 90%;
    text-align: center;
    margin: auto;
  }
  .our-business .title {
    font-size: 18px;
    margin: 20px 0;
  }
  .our-business .discription {
    font-size: 12px;
    margin: 15px auto 20px;
    text-align: left;
  }
  .our-business a {
    padding: 10px 30px;
  }
  .our-business .button-visit {
    font-size: 16px;
    margin-top: 20px;
    width: 30%;
  }
  .list-awards .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .list-awards .number {
    font-size: 40px;
  }
  .list-awards .name {
    font-size: 16px;
  }

  .our-specialists {
    margin: auto;
  }
  .list-awards .list {
    width: 100%;
  }
  .our-specialists .title {
    margin-top: 50px;
    font-size: 18px;
  }
  .our-specialists .list {
    margin-top: 50px;
  }
  .icon {
    display: none;
  }

  .our-specialists .dots {
    margin: 30px 0 0;
  }
  .our-specialists .dots li {
    background-color: #c4c4c4;
    opacity: 0.5;
  }
  .our-specialists .dots .active {
    background-color: var(--blue);
  }
  .our-specialists .doctor {
    margin: 0 10px;
  }
  .testimonial {
    background-image: url("./image/MaskGroup11.png");
    background-position: center;
    height: 500px;
  }
  .our-specialists .list-doctor {
    grid-template-columns: repeat(2, 1fr);
  }
  .our-specialists .add {
    font-size: 14px;
    margin: 50px auto;
  }
  .fa-circle-plus {
    font-size: 30px;
  }
  .testimonial .title {
    padding: 50px 0 100px;
    font-size: 18px;
  }
  .testimonial .author img {
    width: 109px;
  }
  .testimonial .reviews {
    width: 80%;
    margin: auto;
    padding: 0;
  }
  .testimonial .content {
    font-size: 12px;
  }

  .testimonial .dots {
    margin: 30px 0 50px;
  }
  .testimonial .dots li {
    background-color: #ffffff;
    opacity: 0.4;
  }
  .contact {
    display: flex;
    margin: 0 5% 50px;
  }
  .testimonial .dots .active {
    opacity: 1;
  }
  .contact .image {
    margin-right: 5%;
    width: 50%;
  }
  .contact .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .contact input {
    padding: 5px 0;
    width: 100%;
    margin-bottom: 5px;
  }
  .contact textarea {
    padding: 5px 0;
  }
  .contact-form {
    width: 50%;
  }
  .contact-form .contact-info {
    width: 100%;
    flex-wrap: wrap;
  }
  .contact-form .contact-info input {
    width: 100%;
  }
  .contact-form button {
    font-size: 14px;
    margin: 15px 0;
  }
  .contact img {
    height: 250px;
    object-fit: cover;
  }
}
